<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Donos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <style>
        input{
            width:80px;
        }
    </style>

    <div class="container">
        <h2>Añadir un emote</h2>

        
        <div class="container">
            <div class="row">
              <div class="col align-self-start">
                <form action="/dashboard/emote" method="post">
                    <div class="mb-3">
                      <label for="name" class="form-label">Nombre del emote</label>
                      <input name="name" type="text" class="form-control" id="name" placeholder="EZ">
                    </div>
                    <div class="mb-3">
                        <label for="name_streamer" class="form-label">Streamer</label>
                        <input name="name_streamer" type="text" class="form-control" id="name_streamer" placeholder="cristianghost">
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Link</label>
                        <input name="link" type="text" class="form-control" id="link" placeholder="https://betterttv.com/emotes/5590b223b344e2c42a9e28e3">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="pass" id="password" type="password" class="form-control">
                    </div>

                    <input type="submit" value="Crear" class="btn btn-primary btn-block"></button>
                    
                  </form>
        
              </div>
              <div class="col align-self-center">
              </div>
              <div class="col align-self-end">
              </div>
            </div>
          </div>



        <br>
        <h2>Emotes</h2>

        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Streamer</th>
                    <th>Emote link</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <% for(var i=0; i < emotes.length; i++) { %>
                    <tr>
                        <form action="/dashboard/emote/edit" method="post">
                        <td>
                            <% if (emotes[i].source == 'bttv') { %>
                                <a target="_blank" href="https://betterttv.com/emotes/<%= emotes[i].id %>">
                                    <img height="72px" src="https://cdn.betterttv.net/emote/<%= emotes[i].id %>/3x" alt="">
                                </a>
                            <% }else if (emotes[i].source == 'ffz'){ %>
                            <a target="_blank" href="https://www.frankerfacez.com/emoticon/<%= emotes[i].id %>-">
                                <img height="72px" src="https://cdn.frankerfacez.com/emoticon/<%= emotes[i].id %>/4" alt="">
                            </a>
                            <% }else if (emotes[i].source == 'sub'){ %>
                                <a target="_blank" href="https://static-cdn.jtvnw.net/emoticons/v1/<%= emotes[i].id %>/4.0">
                                    <img height="72px" src="https://static-cdn.jtvnw.net/emoticons/v1/<%= emotes[i].id %>/1.0" alt="">
                                </a>
                            <% } %>
                                    
                        </td>
                        <td>
                            <%= emotes[i].emote_id %>
                        </td>
                        <td>
                            <input style="width:190px" type="text" name="name" value="<%= emotes[i].name %>"> 
                        </td>
                        <td>
                            <input style="width:190px" type="text" name="name_streamer" value="<%= emotes[i].name_streamer %>">
                        </td>
                        <td>

                            <% if (emotes[i].source == 'bttv') { %>
                                <input style="width:290px" type="text" name="link" value="https://betterttv.com/emotes/<%= emotes[i].id %>">
                             
                            <% }else if (emotes[i].source == 'ffz'){ %>
                                <input style="width:290px" type="text" name="link" value="https://www.frankerfacez.com/emoticon/<%= emotes[i].id %>">
                            <% }else if (emotes[i].source == 'sub'){ %>
                                <input style="width:290px" type="text" name="link" value="https://static-cdn.jtvnw.net/emoticons/v1/<%= emotes[i].id %>/4.0">
                            <% } %>

                        </td>

                        <td>
                            <label for=""><%= emotes[i].source %></label>
                        </td>
                    
                        <td>
                            <input type="hidden" name="id" value="<%= emotes[i].emote_id %>">
                            <input style="width:40px" name="pass" type="password" />
                            <input style="width: 40px;" type="submit" type="button" value="✎" class="btn btn-success">
                        </td>


                    </form>

                        <td>
                            <form action="/dashboard/emote/delete" method="post">
                                 <input style="width:40px" name="pass" type="password" />

                                
                                
                                <input type="hidden" name="id" value="<%= emotes[i].emote_id %>">
                                <input style="width: 40px;" type="submit" type="button" value="x" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    <% } %>

            </tbody>
        </table>


    </div>


    </table>

</body>

</html>